{%- extends "layout.html" %}
{%- set page = 'home' %}
{% block container %}
<div id="home">
    <div class="input-group col-lg-6" style="margin-bottom: 10px;">
        <input id="search-input-id" type="text" class="form-control" placeholder="输入用户 ID" >
        <span class="input-group-btn">
            <button class="btn btn-primary home-search-id" type="button" @click="searchID" data-loading-text="搜索中...">通过用户ID搜索</button>
        </span>
    </div>
    <div class="input-group col-lg-6" style="margin-bottom: 20px;">
        <input id="search-input-phone" type="text" class="form-control" placeholder="输入手机号" >
        <span class="input-group-btn">
            <button class="btn btn-primary home-search-phone" type="button" @click="searchPhone" data-loading-text="搜索中...">通过手机号搜索</button>
        </span>
    </div>
    <table class="table table-bordered" style="border-radius: 5px;">
        <thead><tr class="active"><th>昵称</th><th>手机号</th><th>ID</th><th>角色</th><th style="width: 200px;">备注</th><th style="width: 300px;">操作</th></tr></thead>
        <tbody>
           <tr v-for="item in lists">
               <td>{[item.nick]}</td>
               <td>{[item.super_phone]}</td>
               <td>{[item.user_id]}</td>
               <td>{[item.role_name]}</td>
               <td class="input-group">
                    <input :id="'remark-input-'+item.user_id" type="text" class="form-control" placeholder="备注信息" :value="item.mark"/>
                    <span class="input-group-btn">
                        <button :id="item.user_id" class="btn btn-primary" type="button" @click="remark(item)" data-loading-text="保存中...">保存</button>
                    </span>
               </td>
               <td>
                    <button :id="'task'+item.user_id" @click="task(item)" type="button" data-loading-text="更新中..." class="btn btn-danger">{[item.task_status == 0 ? '禁止任务': '开放任务']}</button> &nbsp;
                    <button :id="'account'+item.user_id" @click="account(item)" type="button" data-loading-text="更新中..." class="btn btn-danger">{[item.account_status == 0 ? '封号': '解封']}</button> &nbsp;
                    <div class="btn-group" role="group">
                        <button id="'member'+item.user_id" type="button" data-loading-text="更新中..." class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        升级会员
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li v-for="m in members"  @click="selectedMember(m.type, item)"><a href="#">{[m.name]}</a></li>
                        </ul>
                    </div>
               </td>
           </tr>
        </tbody>
    </table>
</div>
<script>
new Vue({
    delimiters:['{[', ']}'],
    el: '#home',
    data: {
        lists: [],
        members: []
    },
    created () {
        const self = this
        axios.get('/members').then(function (res) {
            self.members = res.data
        })

        // this.search()
    },
    methods: {
        searchPhone () {
            const phone = $('#search-input-phone').val()
            if (phone.length == 0) {
                return
            }

            const btn = $('.home-search-phone').button('loading')
            const self = this
            axios.get('/search-user/'+phone).then(function (res) {
                btn.button('reset')
                self.lists = res.data
            })
        },

        searchID () {
            const phone = $('#search-input-id').val()
            if (phone.length == 0) {
                return
            }

            const btn = $('.home-search-id').button('loading')
            const self = this
            axios.get('/search-user/'+phone).then(function (res) {
                btn.button('reset')
                self.lists = res.data
            })
        },

        selectedMember(type, item) {
            const btn = $('#member'+item.user_id).button('loading')
            const self = this
            axios.get('/update-role/'+type+'/'+item.phone).then(function (res) {
                btn.button('reset')
                self.lists.pop(item)
                self.lists.push(...res.data)
            })
        },

        task(item) {
            const btn = $('#task'+item.user_id).button('loading')
            const self = this
            status = parseInt(item.task_status) ? 0 : 1
            // console.log(item.task_status)
            axios.get('/update-status/'+status+'/'+item.phone).then(function (res) {
                self.lists.pop(item)
                if (res.data.success == '1') {
                    setTimeout(() => {
                        item.task_status = status
                        self.lists.push(item)
                    }, 1);
                } else {
                    alert('更新失败')
                }
            })
        },

        account(item) {
            const btn = $('#account'+item.user_id).button('loading')
            const self = this
            status = parseInt(item.account_status) ? 0 : 1
            // console.log(item.account_status)
            axios.get('/update-account-status/'+status+'/'+item.phone).then(function (res) {
                self.lists.pop(item)
                if (res.data.success == '1') {
                    setTimeout(() => {
                        item.account_status = status
                        self.lists.push(item)
                    }, 1);
                } else {
                    alert('更新失败')
                }
            })
        },

        remark(item) {
            const mark = $('#remark-input-'+item.user_id).val()
            if (mark.length == 0) {
                return
            }

            const btn = $('#'+item.user_id).button('loading')
            const self = this
            axios.get('/remark/'+item.phone+'/'+mark).then(function (res) {
                btn.button('reset')
                self.lists.pop(item)
                setTimeout(() => {
                    self.lists.push(...res.data)
                }, 1)
            })
        }



    }
})
</script>
{% endblock %}
