{%- extends "wrapper.html" %}
{% block body %}
<div class="container-fluid" style="background-color: #303030;">
  <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="col-xs-12 col-sm-6 col-md-8"><strong style="color: #fff; font-size: 15px;">麦麦推广后台管理系统</strong></div>
  </div>
</div>
<div class="container" style="margin-top: 20px; ">
  <div class="col-xs-5 col-md-3 menus">
    <div class="list-group">
      <a href="/" class="list-group-item {%if page == 'board' %} active {%-endif %}">财务看板</a>
      <a href="/home" class="list-group-item {%if page == 'home' %} active {%-endif %}">账户管理</a>
      <a href="/check-task" class="list-group-item {%if page == 'task' %} active {%-endif %}">任务审核</a>
      <a href="/check-reward" class="list-group-item {%if page == 'reward' %} active {%-endif %}">提现申请</a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
    {% block container %}{% endblock %}
  </div>
</div>
{% endblock %}