{%- extends "layout.html" %}
{%- set page = 'takes' %}
{% block container %}
<div id="takes">
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong>提示：</strong>只显示未被封禁的账号信息，数据按总数统计。<br />
        <strong>提示：</strong>总投入为 「/」的，为赠送的青铜会员
    </div>
    <table class="table table-bordered" style="border-radius: 5px;">
        <thead><tr class="active"><th>姓名</th><th>手机号</th><th>总投入</th><th>百分比(收益/投入)</th><th>总收益</th><th>已提现</th><th>未提现</th></tr></thead>
        <tbody>
        <tr v-for="item in lists" v-if="item.account_status==0 && item.task_status==0">
            <td>{[item.name]}</td>
            <td>{[item.phone]}</td>
            <td>{[item.hasOwnProperty('input') ? item.input.toFixed(2) : "/"]}</td>
            <td>{[item.hasOwnProperty('rate') ? item.rate.toFixed(2)+"%" : "/"]}</td>
            <td>{[item.all_reward.toFixed(2)]}</td>
            <td>{[item.has_take.toFixed(2)]}</td>
            <td>{[item.un_take.toFixed(2)]}</td>
        </tr>
        </tbody>
    </table>
</div>
<script>
  new Vue({
    delimiters:['{[', ']}'],
    el: '#takes',
    data: {
      lists: [],
      totalsInput: 0,
      totalsReward: 0
    },
    created () {
      this.fetch()
    },
    methods: {
      fetch(offset=0) {
        const self = this
        axios.get('/take-detail').then(function (res) {
          self.lists = res.data
          for (i = 0; i < self.lists.length; i++) {
            var item = self.lists[i]
            if (item.hasOwnProperty('input')) {
              self.totalsInput += item.input
            }

            self.totalsReward += (item.has_take + item.un_take)
          }
        })
      }
    }
  })
</script>
{% endblock %}