{%- extends "layout.html" %}
{%- set page = 'takes' %}
{% block container %}
<div id="takes">
  <table class="table table-bordered" style="border-radius: 5px;">
      <thead><tr class="active"><th>姓名</th><th>手机号</th><th>总收益</th><th>已提现</th><th>未提现</th><th>操作</th></tr></thead>
    <tbody>
      <tr v-for="item in lists">
          <td>{[item.name]}</td>
          <td>{[item.phone]}</td>
          <td>{[(item.has_take + item.un_take).toFixed(2)]}</td>
          <td>{[item.has_take.toFixed(2)]}</td>
          <td>{[item.un_take.toFixed(2)]}</td>
          <td>
              <button :id="item.phone" type="button" class="btn btn-danger" data-loading-text="更新中..." @click="banned(item)">封号</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
<script>
  new Vue({
    delimiters:['{[', ']}'],
    el: '#takes',
    data: {
      lists: []
    },
    created () {
      this.fetch()
    },
    methods: {
      fetch(offset=0) {
        const self = this
        axios.get('/take-detail').then(function (res) {
          self.lists = res.data
        })
      }
    }
  })
</script>
{% endblock %}